@import "tailwindcss";

@theme {
  --color-primary: #006B4D; /* Deep green */
  --color-primary-hover: #00523b; /* Darker green */
  --color-surface: #ffffff;
  --color-background: #f3f4f6; /* gray-100 */
  
  --font-sans: "Inter", "system-ui", "sans-serif";
}

@layer base {
  body {
    background-color: var(--color-background);
    color: #1f2937; /* gray-800 */
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
